.post-body.entry-content{text-align:left;
position:relative;

top:-60px;
background-color:Linen;
}

#ArchiveList{margin-left:3%;}

.region-inner.tabs-inner,.columns.fauxcolumns,#crosscol.tabs.section{margin:0;padding:0;}

.blog-feeds,.feed-links{display:none;}
.post-footer,.footer-outer,region-inner.footer-inner,.blog-pager,.header{display:none;}
 .Header h1 { text-shadow: none; } .post-body img, .post-body .tr-caption-container, .Profile img, .Image img, .BlogList .item-thumbnail img { -webkit-box-shadow: none; box-shadow: none; } .content-outer { -webkit-box-shadow: none; box-shadow: none; }

.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
.BlogList .item-thumbnail img {
  padding: 0 !important;
  border: none !important;
  background: none !important;
  -moz-box-shadow: 0px 0px 0px transparent !important;
  -webkit-box-shadow: 0px 0px 0px transparent !important;
  box-shadow: 0px 0px 0px transparent !important;
}

.navbar,.header,.post-title.entry-title{display:none;}
.region-inner.tabs-inner{margin:0;padding:0;}
.quickedit{display:none;}

.jssocials-share-link { border-radius: 50%; }
#shareIcons{font-size:10pt;}

.content-inner,.content-outer{margin:0;padding:0;}
.tabs-outer{margin:0;padding:0;}

.region-inner.main-inner{padding:0;margin:0;}
.column-center-outer{padding:0px !important;}
.column-center-inner{margin:0px !important;}


h2.title{display:none;}
.contentET>div>span:nth-of-child(n){font-family: 'Heebo', sans-serif;
color:white;
font-size:15pt;
text-align:left;
}

.contentT1>span, .contentT2>span, .contentT3>span, .contentT4>span {
font-family: 'Meera Inimai', sans-serif;
color:white;
font-size:15pt;
text-align:left;
}

body,html{background-color:linen;height:500px;} 





.myName{margin:20px 10px;}

#post-body-8555118298189319006.post-body.entry-content{display:none;}


@media screen and (max-width: 390px){

#HTML6.widget{position:absolute;top:160px;left:80px}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:absolute;z-index:+8;top:190px;right:10px;}
.cntct>span,.cntct> a:link>span{color:brown !important;}
.tabs-outer{background-color:brown;position:relative;top:-30px;height:180px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:left;display:inline-block;position:relative;top:2px;margin:10px 20px;}
.myNameTam{float:left;display:inline-block;margin:10px 20px;}
.hr{display:block;position:relative;top:-80px;}
#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}



.clear{display:none;}

.cntct>span{text-align:center;margin:0 auto;width:100%;font-size:10pt;}
.sub{margin:0 auto;display:inline-block;width:100%;}

.fstttl{width:60%;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:75%;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:13pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:13pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:90%;margin:5px auto;}
.arw>span{color: white; font-weight: bold; text-align: center;font-size:20pt;}
.arw{float:right;position:relative;left:-30px;top:-100px;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:13pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:13pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.rph{margin:20px 0;background-color:#ee5200 !important;}

.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:13pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

#PageList1.widget{display:none;}

.bg{background-color:#ffff99;height:20px;position:relative;top:-25px;width:100%;}


.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;



}

a:link{text-decoration:none;}

#shareIcons{

float:right;
font-size:10pt;
position:relative;
top:0px;
margin:0 20px 0 0;
}




.dropbtn {
    background-color: grey;
    color: white;
    padding: 2px;
    font-size: 14pt;
    border: 2px solid #434343;
    cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}


.dropdown {
    position:absolute;
    display: inline-block;
top:-50px;left:10px;
z-index:+5;
}


}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.show {display:block;}

.contentET{

margin:0 auto;
width:95%;
}

 

#main-slider.slider{
	display:none;
	
}





#shareIcons{

float:right;


background-color: rgba(255, 255, 255, 0);
margin:0 5px 0 0;
font-size:10pt !important;

}




}




@media screen and (min-width: 391px) and (max-width: 435px){

#HTML4.widget{width:100px;}
#HTML6.widget{position:absolute;top:40px;left:80px}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:absolute;z-index:+8;top:40px;right:10px;}
.cntct>span,.cntct> a:link>span{color:brown !important;}
.tabs-outer{background-color:brown;position:relative;top:-30px;height:70px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;margin-left:5px;}
.myNameTam{float:left;display:inline-block;margin-right:5px;}
.hr{display:none;}
#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}



.clear{display:none;}

.cntct>span{text-align:center;margin:0 auto;width:100%;font-size:10pt;}
.sub{margin:0 auto;display:inline-block;width:100%;}

.fstttl{width:60%;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:75%;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:9pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:9pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:9pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:90%;margin:5px auto;}
.arw>span{color: white; font-weight: bold; text-align: center;font-size:20pt;}
.arw{float:right;position:relative;left:-30px;top:-100px;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:9pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.rph{margin:20px 0;background-color:#ee5200 !important;}



#PageList1.widget{display:none;}

.bg{background-color:#ffff99;height:20px;position:relative;top:70px;width:100%;}


.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;



}

a:link{text-decoration:none;}

#shareIcons{

float:right;
font-size:10pt;
position:relative;
top:0px;
margin:0 20px 0 0;
}




.dropbtn {
    background-color: grey;
    color: white;
    padding: 2px;
    font-size: 14pt;
    border: 2px solid #434343;
    cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}


.dropdown {
    position:absolute;
    display: inline-block;
top:25px;left:10px;
z-index:+5;
margin: 0 0 0 -140px;


}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.show {display:block;}

.contentET{

margin:0 auto;
width:95%;
}

 

#main-slider.slider{
	display:none;
	
}





#shareIcons{

float:right;


background-color: rgba(255, 255, 255, 0);
margin:0 5px 0 0;
font-size:8pt !important;

}



}













@media screen and (min-width: 436px)  and (max-width: 579px){

#HTML4.widget{width:100px;}
#HTML6.widget{position:absolute;top:40px;left:100px}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:absolute;z-index:+8;top:60px;right:10px;}
.cntct>span,.cntct> a:link>span{color:brown !important;}
.tabs-outer{background-color:brown;position:relative;top:-30px;height:70px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;}
.myNameTam{float:left;display:inline-block;}
.hr{display:none;}
#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}



.clear{display:none;}

.cntct>span{text-align:center;margin:0 auto;width:100%;font-size:10pt;}
.sub{margin:0 auto;display:inline-block;width:65%;position:relative;top:-20px;}

.fstttl{width:208px;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:231px;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:9pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:9pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:255px;margin:5px auto;}
.arw>span{color: white; font-weight: bold; text-align: center;font-size:20pt;}
.arw{float:right;position:relative;left:-30px;top:-100px;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:9pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}


.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:9pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.rph{margin:20px 0;background-color:#ee5200 !important;}



#PageList1.widget{display:none;}

.bg{background-color:#ffff99;height:20px;position:relative;top:70px;width:100%;}


.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;



}

a:link{text-decoration:none;}

#shareIcons{

float:right;
font-size:8pt;
position:relative;
top:0px;
margin:0 20px 0 0;
}




.dropbtn {
    background-color: grey;
    color: white;
    padding: 2px;
    font-size: 14pt;
    border: 2px solid #434343;
    cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}


.dropdown {
    position:absolute;
    display: inline-block;
top:25px;left:25px;
z-index:+5;
margin: 0 0 0 -140px;


}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.show {display:block;}

.contentET{

margin:0 auto;
width:95%;
}

 

#main-slider.slider{
	width:125px;
	height: 154px;
margin:0 0 0 10px;	
display:inline-block;
float:left;
position: relative;
	
}


.slider-wrapper {
	width: 125px;
	height: 154px;
	
float:left;

}

.slide {

	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#shareIcons{

float:right;


background-color: rgba(255, 255, 255, 0);
margin:0 5px 0 0;
font-size:8pt !important;

}




}





@media screen and (min-width: 580px) and (max-width: 704px){
#HTML4.widget{display:none;}
#HTML6.widget{position:relative;top:-4px;text-align:center;margin:0 auto;z-index:+5;}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:relative;z-index:+8;top:-30px;}

.tabs-outer{background-color:brown;position:relative;top:-30px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;}
.myNameTam{float:left;display:inline-block;}
.hr{display:none;}
#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}
.PageList ul{position:relative;left:-160px;}
#PageList1.widget{position:relative;top:77px;height:17px;z-index:+6;width:100%;}

.PageList li.selected {font-size:9pt;font-style:italic;font-style:bold;display:inline;margin:0 3px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;background-color:Linen;}
.PageList li.selected a{color:red !important;border-bottom:3px solid red;}

.PageList li a{color:#008f12 !important;font-size:9pt;font-style:italic;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;font-style:bold;vertical-align:bottom;}



.clear{display:none;}
.bg{display:none;}
.cntct>span{text-align:center;margin:0 auto;width:100%;}
.sub{margin:0 auto;display:inline-block;width:57%;}

.fstttl{width:265px;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:295px;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:11pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:11pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:328px;margin:5px auto;}
.arw>span{color: white; font-weight: 800; text-align: center;font-size:30pt;}
.arw>span{color: white; font-weight: 800; text-align: center;font-size:40pt;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:12pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:12pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}


.rph{margin:20px 0;background-color:#ee5200 !important;}




.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;


}

a:link{text-decoration:none;}
      
  

#main-slider.slider{
	width: 200px;
	height: 247px;
margin:0 8px;	
display:inline-block;
float:left;
position: relative;
top:20px;	
}


.slider-wrapper {
	width: 200px;
	height: 247px;
	


}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#shareIcons{

float:right;


background-color: rgba(255, 255, 255, 0);
margin:0 5px 0 0;
font-size:10pt !important;

}

#HTML5.widget{display:none;}
#HTML4.widget{display:none;}
}







@media screen and (min-width: 705px) and (max-width: 761px){
#HTML4.widget{display:none;}
#HTML6.widget{position:relative;top:2px;text-align:center;margin:0 auto;z-index:+5;}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:relative;z-index:+8;top:-20px;}

.tabs-outer{background-color:brown;position:relative;top:-30px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;}
.myNameTam{float:left;display:inline-block;}
.hr{display:none;}


#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}
.PageList ul{position:relative;left:-150px;}
#PageList1.widget{position:relative;top:77px;height:17px;z-index:+6;}

.PageList li.selected {font-size:11pt;font-style:italic;font-style:bold;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;background-color:Linen;}
.PageList li.selected a{color:red !important;border-bottom:3px solid red;}

.PageList li a{color:#008f12 !important;font-size:11pt;font-style:italic;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;font-style:bold;vertical-align:bottom;}



.clear{display:none;}
.bg{display:none;}
.cntct>span{text-align:center;margin:0 auto;width:100%;}
.sub{margin:0 auto;display:inline-block;width:57%;}

.fstttl{width:336px;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:374px;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:13pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:13pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:400px;margin:5px auto;}
.arw{margin:5px 0;float:right;position:relative;top:5px;left:-70px;}
.arw>span{color: white; font-weight: 800; text-align: center;font-size:30pt;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:13pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.rph{margin:20px 0 20px 11px;background-color:#ee5200 !important;position:relative;left:-5px;}

.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:13pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}


.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;


}

a:link{text-decoration:none;}
      


#main-slider.slider{
	width: 276px;
	height: 340px;
margin:0 8px;	
display:inline-block;
float:left;
position: relative;
top:20px;	
}


.slider-wrapper {
	width: 276px;
	height: 340px;
	


}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#shareIcons{

float:right;

font-size:10pt;
background-color: rgba(255, 255, 255, 0);
margin:0 20px 0 0;
}

#HTML5.widget{display:none;}
#HTML4.widget{display:none;}
}





@media screen and (min-width: 762px) and (max-width: 810px){
#HTML4.widget{display:none;}
#HTML6.widget{position:relative;top:2px;text-align:center;margin:0 auto;z-index:+5;}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:relative;z-index:+8;top:-20px;}

.tabs-outer{background-color:brown;position:relative;top:-30px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;}
.myNameTam{float:left;display:inline-block;}
.hr{display:none;}
#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}
.PageList ul{position:relative;left:-150px;}
#PageList1.widget{position:relative;top:76px;height:17px;z-index:+6;}

.PageList li.selected {font-size:12pt;font-style:italic;font-style:bold;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;background-color:Linen;}
.PageList li.selected a{color:red !important;border-bottom:3px solid red;}

.PageList li a{color:#008f12 !important;font-size:12pt;font-style:italic;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;font-style:bold;vertical-align:bottom;}



.clear{display:none;}
.bg{display:none;}
.cntct>span{text-align:center;margin:0 auto;width:100%;}
.sub{margin:0 auto;display:inline-block;width:57%;}

.fstttl{width:364px;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:405px;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:14pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:14pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:430px;margin:5px auto;}
.arw{margin:5px 0;float:right;position:relative;top:0px;left:-10px;}
.arw>span{color: white; font-weight: 800; text-align: center;font-size:65pt;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:14pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.rph{margin:20px 0;background-color:#ee5200 !important;position:relative;left:-5px;}

.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:14pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}


.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;


}

a:link{text-decoration:none;}
      


#main-slider.slider{
	width: 290px;
	height: 358px;
margin:0 8px;	
display:inline-block;
float:left;
position: relative;
top:20px;	
}


.slider-wrapper {
	width: 290px;
	height: 358px;
	


}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#shareIcons{

float:right;

font-size:10pt;
background-color: rgba(255, 255, 255, 0);
margin:0 20px 0 0;
}

#HTML5.widget{display:none;}
#HTML4.widget{display:none;}
}






@media screen and (min-width: 811px) and (max-width: 889px){
#HTML4.widget{display:none;}
#HTML6.widget{position:relative;top:2px;text-align:center;margin:0 auto;z-index:+5;}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:relative;z-index:+8;top:-20px;}

.tabs-outer{background-color:brown;position:relative;top:-30px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;}
.myNameTam{float:left;display:inline-block;}
.hr{display:none;}
#PageList1.widget{background-color:#ffff99;}
h2{display:none;}
.PageList ul{position:relative;left:-150px;}
#PageList1.widget{position:relative;top:76px;height:18px;z-index:+6;}

.PageList li.selected {font-size:12pt;font-style:italic;font-style:bold;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;background-color:Linen;}
.PageList li.selected a{color:red !important;border-bottom:3px solid red;}

.PageList li a{color:#008f12 !important;font-size:12pt;font-style:italic;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;font-style:bold;vertical-align:bottom;}



.clear{display:none;}
.bg{display:none;}
.cntct>span{text-align:center;margin:0 auto;width:100%;}
.sub{margin:0 auto;display:inline-block;width:59%;}

.fstttl{width:388px;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:432px;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:15pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:15pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:479px;margin:5px auto;}
.arw{margin:5px 0;float:right;position:relative;top:0px;}
.arw>span{color: white; font-weight: 800; text-align: center;font-size:75pt;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:15pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}
.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:15pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}


.rph{margin:20px 0;background-color:#ee5200 !important;position:relative;left:8px;}
.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;


}

a:link{text-decoration:none;}
      
  

#main-slider.slider{
	width: 290px;
	height: 358px;
margin:0 10px;	
display:inline-block;
float:left;
position: relative;
top:20px;	
}


.slider-wrapper {
	width: 290px;
	height: 358px;
	


}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#shareIcons{

float:right;

font-size:10pt;
background-color: rgba(255, 255, 255, 0);
margin:0 20px 0 0;
}

#HTML5.widget{display:none;}
#HTML4.widget{display:none;}
}






@media screen and (min-width: 890px) and (max-width: 939px){
#HTML4.widget{display:none;}
#HTML6.widget{position:relative;top:2px;text-align:center;margin:0 auto;z-index:+5;}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:relative;z-index:+8;top:-20px;}

.tabs-outer{background-color:brown;position:relative;top:-30px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;}
.myNameTam{float:left;display:inline-block;}
.hr{display:none;}
#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}
.PageList ul{position:relative;left:-150px;}
#PageList1.widget{position:relative;top:76px;height:18px;z-index:+6;}

.PageList li.selected {font-size:12pt;font-style:italic;font-style:bold;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;background-color:Linen;}
.PageList li.selected a{color:red !important;border-bottom:3px solid red;}

.PageList li a{color:#008f12 !important;font-size:12pt;font-style:italic;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;font-style:bold;vertical-align:bottom;}



.clear{display:none;}
.bg{display:none;}
.cntct>span{text-align:center;margin:0 auto;width:100%;}
.sub{margin:0 auto;display:inline-block;width:59%;}

.fstttl{width:426px;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px;text-align:center;}

.sprttl{width:473px;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px;text-align:center;}

.isprttl>span{font-size:15pt;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:15pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:520px;margin:5px auto;}
.arw{margin:5px 0;float:right;position:relative;top:0px;}
.arw>span{color: white; font-weight: 800; text-align: center;font-size:75pt;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:15pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}
.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:17pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}


.rph{margin:20px 0 20px 10px;background-color:#ee5200 !important;}

.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;


}





a:link{text-decoration:none;}
     
   ol { counter-reset: item; }
        ol li { display: block; }
        ol li:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: #444444;
font-weight: bold;

        }

#main-slider.slider{
	width: 325px;
	height: 393px;
margin:0 13px;	
display:inline-block;
float:left;
position: relative;
top:20px;	
}


.slider-wrapper {
	width: 325px;
	height: 393px;
	


}


.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#shareIcons{

float:right;
font-size:10pt;

background-color: rgba(255, 255, 255, 0);
margin:0 20px 0 0;
}

#HTML5.widget{display:none;}
#HTML4.widget{display:none;}
}







@media screen and (min-width: 940px){
#HTML4.widget{display:none;}
#HTML6.widget{position:relative;top:2px;text-align:center;margin:0 auto;z-index:+5;}
#HTML3.widget{background-color:rgb(255,255,255,0);
position:relative;z-index:+8;top:-20px;}

.tabs-outer{background-color:brown;position:relative;top:-30px;}


.myName{background-color:rgb(255,255,255,0);}
.myNameEng{float:right;display:inline-block;position:relative;top:2px;}
.myNameTam{float:left;display:inline-block;}
.hr{display:none;}
#PageList1.widget{background-image: linear-gradient(#ffff99,khaki)}
h2{display:none;}
.PageList ul{position:relative;left:-150px;}
#PageList1.widget{position:relative;top:76px;height:19px;z-index:+6;}

.PageList li.selected {font-size:12pt;font-style:italic;font-style:bold;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;background-color:Linen;}
.PageList li.selected a{color:red !important;border-bottom:3px solid red;}

.PageList li a{color:#008f12 !important;font-size:12pt;font-style:italic;display:inline;margin:0 5px;font-family: 'Noto Sans KR', sans-serif;text-align:center;text-decoration:none !important;font-style:bold;vertical-align:bottom;}



.clear{display:none;}
.bg{display:none;}
.cntct>span{text-align:center;margin:0 auto;width:100%;}
.sub{margin:0 auto;display:inline-block;width:59%;}

.fstttl{width:450px;background-color: darkmagenta; border-radius: 13px; margin: 15px auto; text-align: center;}

.ifstttl{margin:25px auto;}

.sprttl{width:500px;background-color: #b10000; border-radius: 15px; margin: 5px auto; text-align: center; vertical-align: middle;}
.isprttl{margin:25px auto;}

.isprttl>span{font-size:17pt;margin:15px auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}
.ifstttl>span{font-size:17pt; auto;font-weight: 800;font-family: 'Arima Madurai', cursive;color:white;line-height:200%;}


.bttl{margin:0 auto;text-align:center;background-color: #ee5200 !important; border-radius: 15px;width:550px;margin:5px auto;}
.arw{margin:5px 0;float:right;position:relative;top:-210px;left:15px;}
.arw>span{color: white; font-weight: 800; text-align: center;font-size:110pt;}

.riph>span{color: white; font-weight: 600;  text-align: center;font-size:17pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.riph>a:link>span{color: white; font-weight: 600;  text-align: center;font-size:17pt;background-color:#ee5200 !important;font-family: 'Arima Madurai', cursive;line-height:200%;}

.rph{margin:20px 0 20px 10px;background-color:#ee5200 !important;}

.form{
position:relative;

margin:0 auto; 
width: 90%;
border:3px solid purple;


}

a:link{text-decoration:none;}
      


#main-slider.slider{
	width:345px;
	height: 426px;
margin:0 15px;	
display:inline-block;
float:left;
position: relative;
top:20px;	
}


.slider-wrapper {
	width:345px;
	height: 426px;
	


}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#shareIcons{

float:right;
font-size:10pt;

background-color: rgba(255, 255, 255, 0);
margin:0 20px 0 0;
}

#HTML5.widget{display:none;}
#HTML4.widget{display:none;}
}














.clr{clear:both;
display:none;}
#crosscol.tabs.section,#crosscol-overflow.tabs.section{border:0;padding:0;margin:0}


#mainc.main.section,.mainMain,.mainMainMain,.column-center-inner,.column-center-outer,.columns-inner,fauxcolumn-outer.fauxcolumn-center-outer,.columns.fauxcolumns,.post-body.entry-content,blog-posts.hfeed.fauxcolumn-outer.fauxcolumn-left-outer,.fauxcolumn-inner.fauxcolumn-left-inner,.fauxborder-left.main-fauxborder-left,.main-outer{padding:0;margin:0;}
